USE [master]
GO
/****** Object:  Database [CRUDDB]    Script Date: 02/11/2022 23:21:48 ******/
CREATE DATABASE [CRUDDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CRUDDB', FILENAME = N'D:\MSSQL15.SQLEXPRESS\MSSQL\DATA\CRUDDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CRUDDB_log', FILENAME = N'D:\MSSQL15.SQLEXPRESS\MSSQL\DATA\CRUDDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CRUDDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CRUDDB]
GO
/****** Object:  Table [dbo].[tabla_Empleados]    Script Date: 02/11/2022 23:21:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tabla_Empleados](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [nvarchar](50) NOT NULL,
	[Apellidos] [nvarchar](50) NOT NULL,
	[CI] [int] NOT NULL,
	[Fecha_Nacimiento] [date] NOT NULL,
	[Edad] [int] NOT NULL,
	[Rol] [nvarchar](50) NOT NULL,
	[Salario] [money] NOT NULL,
 CONSTRAINT [PK_tabla_Empleados] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tabla_Empleados] ON 

INSERT [dbo].[tabla_Empleados] ([ID], [Nombres], [Apellidos], [CI], [Fecha_Nacimiento], [Edad], [Rol], [Salario]) VALUES (1, N'Carlos', N'Freitas', 25991527, CAST(N'1996-10-15' AS Date), 25, N'Programador', 398.9900)
INSERT [dbo].[tabla_Empleados] ([ID], [Nombres], [Apellidos], [CI], [Fecha_Nacimiento], [Edad], [Rol], [Salario]) VALUES (2, N'Julio', N'Yanes', 25991528, CAST(N'1996-11-11' AS Date), 26, N'RH', 200.5200)
INSERT [dbo].[tabla_Empleados] ([ID], [Nombres], [Apellidos], [CI], [Fecha_Nacimiento], [Edad], [Rol], [Salario]) VALUES (3, N'Pedro', N'Perez', 25991529, CAST(N'1996-10-15' AS Date), 26, N'Secretario', 199.0000)
SET IDENTITY_INSERT [dbo].[tabla_Empleados] OFF
GO
USE [master]
GO
